<h2>Login</h2>
<form action="/login" method="post">
    <div>Log in with GitHub:</div>
    <div>
      <input type="submit" value="Login">
    </div>
</form>
<p>
  <a href="/signup">Create an Account &rarr;</a>
<p>
