<h2>Sign up with GitHub</h2>
<form action="/signup" method="post">
    <div>
      <input type="submit" value="Sign up">
    </div>
</form>
<p>
  <a href="/login">Login to your account &rarr;</a>
<p>
